@use 'styles/variables' as *;

.root {
  position: relative;
}

.mddFrame {
  position: absolute;
  top: calc(100% + #{$space-xxs});
  left: 0;
  min-width: 100%;
  width: max-content;
  max-height: 280px;
  overflow-y: auto;
  background-color: $brand-white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.mddFrameItem {
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background-color: $brand-white;
  padding: $space-s $space-xs;
  height: 52px;
}

.noCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  &:checked {
    color: $brand;
  }
}

.triggerWrap {
  cursor: pointer;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.triggerWrapActive {
  cursor: pointer;
  width: 100%;
  border: 1px solid $brand;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

.borderStyle {
  /* стили для обводки инпута в дропдауне при необходимости */
}
